* {
    margin: 0px;
    padding: 0px;
}
body{
    background:url(1.jpg) no-repeat center center fixed; 
    background-size: 100%;
    background-position: center center; 
  
}
.header{
    width: 100%;
    height: 80px;
    background-color: gray;
}

.logo{
    width: 10%;
    height: 80px;

    display: inline-block;
    margin-left: 50px;
    vertical-align: top;
    font-size: 40px;
    font-family: segoe ui;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
}

.nav{
    width: 40%;
    height: 80px;
    display: inline-block;
    margin-left:5%;
}

.navigation>li{
    list-style-type: none;
    display: inline-block;
    height: 80px;
    width: 24.5%;
    font-size: 19px;
    text-align: center;
    font-family: segoe ui;
    line-height: 80px;
    transition: .3s;
    cursor: pointer;
    vertical-align: top;
    
}
.home:hover{
    background-color:green;
}
.about:hover{
    background-color:green;
}
.contact:hover{
    background-color:green;
}
.others:hover{
    background-color:green;
}
body{
    background:url(1.jpg) no-repeat center center fixed; 
    background-size: 100%;
  
}